.dvd{
    display: inline-block;
    position: relative;
}

.dvd img{
    height: 160px;
}

.cont{
    background-color: black;
    height: 90%;
    width: 90%;
}

body{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100vw;
    background: gray;
}